@charset "utf-8";

#navMenu{
    margin: 0;
    padding: 0;
}

#navMenu ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#navMenu li {
    list-style: none;
}

#navMenu ul li{
    position: absolute;
    visibility: hidden;
}

#navMenu li:hover ul{
    visibility: visible;
}